@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'Poppins Regular';
	src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
	font-family: 'Poppins Medium';
	src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
	font-family: 'Poppins SemiBold';
	src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@theme{
	--font-Poppins: 'Poppins Regular';
	--font-PoppinsMedium: 'Poppins medium';
	--font-PoppinsSemiBold: 'Poppins semiBold';
	--color-majorelle-blue: #5959d9;
	--shadow-normal: 0 0 8px 0 rgba(0, 0, 0, 15%) ;
}

.nav-link{
	position: relative;
	transition: all 150ms ease-in;
}
.nav-link::after{
	content: '';
	position: absolute;
	bottom: -12px;
	left: 0;
	width: 0;
	height: 4px;
	background-color: #EB8426;
	border-radius: 50px;
	transition: all 150ms ease-in;
}
.nav-link.active::after{
	width: 42px;
}
.nav-link.active{
	color: #EB8426;
}
.overlay{
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
}
.menu{
	@apply fixed -left-3/4 top-0 bottom-0 w-3/4 bg-white p-5 transition-all z-20;
}
.menu.active{
	@apply left-0;
}
.counter{
	@apply absolute w-6 h-6 rounded-full bg-orange-500 flex items-center justify-center text-white font-Poppins text-xs -top-3 sm:-top-6 left-3;
}

.productsSwiper .swiper-pagination{
	position: static !important;
	margin-top: 24px!important;

}
.productsSwiper .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #e5e7eb;
	opacity: 1;
	transition: all 0.3s ease;
}
.productsSwiper .swiper-pagination-bullet-active {
	background: #EB8426;
	width: 12px;
	border-radius: 9999px;
}
.benefits-swiper .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #e5e7eb;
	opacity: 1;
	transition: all 0.3s ease;
}

.benefits-swiper .swiper-pagination-bullet-active {
	background: #EB8426;
	width: 12px;
	border-radius: 9999px;
}
.benefits-swiper .swiper-pagination{
	position: static !important;
	margin-top: 24px!important;

}
.swiper-category-slide .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #e5e7eb;
	opacity: 1;
	transition: all 0.3s ease;
}

.swiper-category-slide .swiper-pagination-bullet-active {
	background: #EB8426;
	width: 12px;
	border-radius: 9999px;
}
.swiper-category-slide .swiper-pagination{
	position: static !important;
	margin-top: 24px!important;

}

.card-benefits{
	@apply flex items-center justify-between flex-col-reverse gap-6 lg:gap-0 lg:flex-row p-6 bg-gray-100 rounded-sm;
}
.left-btn{
	@apply absolute flex items-center justify-center -left-24 top-1/2 translate-y-1/2 w-12 h-12 rounded-full bg-gray-100 text-neutral-600 cursor-pointer;
}
.right-btn{
	@apply absolute flex items-center justify-center -right-24 top-1/2 translate-y-1/2 w-12 h-12 rounded-full bg-gray-100 text-neutral-600 cursor-pointer;
}
.like-btn{
	@apply absolute w-8 h-8 flex justify-center items-center top-4 right-4 border border-neutral-200 rounded-full cursor-pointer text-neutral-600;
}

.swiper-product-slide .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #e5e7eb;
	opacity: 1;
	transition: all 0.3s ease;
}

.swiper-product-slide .swiper-pagination-bullet-active {
	background: #EB8426;
	width: 12px;
	border-radius: 9999px;
}
.swiper-product-slide .swiper-pagination{
	position: static !important;
	margin-top: 24px!important;

}
.mail-btn{
	@apply justify-center items-center gap-x-2 px-6 py-2 font-PoppinsMedium text-xs bg-orange-400 rounded-4xl text-center text-white cursor-pointer hidden md:flex;
}
.mail-btn-mobile{
	@apply w-full justify-center items-center gap-x-2 px-6 py-2 font-PoppinsMedium text-xs bg-orange-400 rounded-4xl text-center text-white cursor-pointer flex md:hidden;
}
.mail-btn-data:disabled{
	opacity: .5;
	cursor: not-allowed;
}
.pop-message{
	position: fixed;
	top: 5%;
	left: 5%;
	max-width: 290px;
	height: 110px;
	z-index: 50;
	border-radius: 9px;
	background-color: white;
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.3s ease;
	box-shadow: 0 0 1.5rem 0 #1a1f4360;
	transform: translateX(-100%);
}
.pop-message.show {
	opacity: 1;
	transform: translateX(0);
}
.toast-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	padding-left: 32px;
}
.toast-wrapper::after{
	content: '';
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 80%;
	background-color: red;
	border-radius: 40px;
}
.pop-message.success .toast-wrapper::after{
	background-color: #03A65A;
}
.pop-message.fail .toast-wrapper::after{
	background-color: #db3056;
}
.toast-messages{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin: auto 0;
	padding-right: 20px;
}
.pop-message.success .toast-title{
	color: #03a65a;
}
.pop-message.fail .toast-title{
	color: #db3056;
}
.toast-title{
	font-size: 19px;
	display: block;
	font-family: 'Poppins Medium',sans-serif;
}
.toast-message{
	margin-top: 4px;
	color: #595959;
	font-family: 'Poppins Regular',sans-serif;
	font-size: 14px;
}
.success-message{
	display: none;
}
.error-message{
	display: none;
}
.pop-message.success .success-message{
	display: block;
}
.pop-message.fail .error-message{
	display: block;
}
.item-title-wrapper{
	@apply flex items-center justify-between py-3 md:py-0 pl-6 md:pl-0 pr-3 bg-gray-100 max-md:group-[.is-active]:bg-orange-400 max-md:group-[.is-active]:text-white md:bg-transparent rounded-4xl font-PoppinsMedium leading-4.5 md:leading-5;
}
.item-list{
	@apply hidden group-[.is-active]:flex md:flex flex-col md:gap-y-3 pl-6 md:pl-0 mt-4 md:mt-6 md:mb-0 *:border-b *:border-b-neutral-200 md:*:border-b-0 *:py-3 md:*:py-0 font-Poppins text-sm leading-6;
}
@media (min-width: 900px) {
	.swiper-product-slide .swiper-pagination,
	.swiper-category-slide .swiper-pagination {
		display: none;
	}
}